---
import { BASE_URL } from '../../utils/share';
import { generateUrl } from '../../i18n/utils';
const { title, description, pubDate, collection, slug } = Astro.props;
---

<a href={`${BASE_URL}${generateUrl(collection, slug)}`} class="card group">
  <h2 class="hoverable-text card-title">
    {title}
  </h2>
  <p class="mt-2 text-sm">{description}</p>
  <time class="mt-3 block text-xs">{new Date(pubDate).toLocaleDateString()}</time>
</a>
