---
const { label, href } = Astro.props;
---

<a
  href={href}
  class="hoverable-text p-1 mr-4"
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`Visit my ${label} profile`}
>
  <slot />
</a>
