---
import { BASE_URL } from '../../utils/share';
import { languages } from '../../i18n/ui';
---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`${BASE_URL}${lang}/`}>{label}</a>
    </li>
  ))}
</ul>
