---
import { BASE_URL } from '../../utils/share';
import { slugify } from '../../utils/astro';
import { getLangFromUrl } from '../../i18n/utils';

const { tags = [] } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

{tags.length > 0 && (
  <div class="mt-4 flex flex-wrap gap-2">
    {tags.map(tag => (
      <a
        href={`${BASE_URL}${lang}/tags/${slugify(tag)}`}
        class="tag-btn"
      >
        <span class="hoverable-text break-words">{tag}</span>
      </a>
    ))}
  </div>
)}
