---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleCard from '../components/astro/ArticleCard.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('cheatsheets');
---

<BaseLayout>
  <section class="flex flex-col gap-6">
    {articles
      .sort((a, b) => a.slug - b.slug)
	  .map(({ data, collection, slug }) => (
        <ArticleCard
          key={slug}
          title={data.title}
          collection={collection}
          slug={slug}
        />
      ))}
  </section>
</BaseLayout>

