---
import { baseUrl } from '../utils/share'
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content=`0; url=${baseUrl}articles` />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href=`${baseUrl}articles`>...</a></p>
  </body>
</html>
