---
import { BASE_URL } from '../utils/share';
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content=`0; url=${BASE_URL}articles` />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href=`${BASE_URL}articles`>...</a></p>
  </body>
</html>
