---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { BASE_URL } from '../../utils/share';
import { getLangFromUrl } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'ja' } },
  ];
}
---

<BaseLayout title="404: Page not found">
  <head>
    <meta http-equiv="refresh" content={`0; url=${BASE_URL}${lang}/articles`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href={`${BASE_URL}${lang}/articles`}>...</a></p>
  </body>
</BaseLayout>
