---
import Sidebar from "../layouts/Sidebar.astro";
import SidebarRight from "../layouts/SidebarRight.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";

import { BASE_URL } from '../utils/share';

import "../styles/global.css";

const { title = "My Site", toc = null } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body
    class="bg-gray-900 text-gray-100 antialiased"
    data-base-url={BASE_URL}
  >
    <input type="checkbox" id="menu-toggle" class="peer absolute -top-20 opacity-0" />
    <Sidebar />

    <Header title={title} />

    <aside class="hidden xl:block w-64 bg-gray-900 text-white border-l border-gray-800">
      <SidebarRight toc={toc} />
    </aside>

    <!-- Content wrapper shifts when sidebar opens on mobile -->
    <div class="min-h-screen pt-16 xl:mr-64 transition-transform duration-300 peer-checked:translate-x-[70vw] md:ml-[22rem] md:translate-x-0">
    <!-- <div class="min-h-screen pt-header xl:mr-right-sidebar transition-transform duration-300 peer-checked:translate-x-[70vw] md:ml-[22rem] md:translate-x-0"> -->
      <main class="flex-1 max-w-3xl mx-auto p-6">
        <slot />
      </main>
    </div>

	<Footer />
  </body>
</html>

