---
const { toc = [] } = Astro.props;
---

<div class="sidebar-right-content">
  {toc && (
    <h2 class="text-base font-semibold mb-3">Index</h2>
    <ul class="space-y-1 text-sm">
      {toc?.map(item => (
        <li class={`ml-${(item.level - 2) * 4}`}>
          <details class={item.level === 2 ? 'mb-1' : 'ml-2'} open>
            <summary class="cursor-pointer hover:text-indigo-400">
              <a href={`#${item.id}`}>{item.text}</a>
            </summary>
          </details>
        </li>
      ))}
    </ul>
  )}
</div>

