---
import SitemapMenu from '../components/astro/SitemapMenu.astro';
import ExternalLinks from '../components/astro/ExternalLinks.astro';

import { BASE_URL } from '../utils/share';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const currentPath = Astro.url.pathname;
---

<div class="sidebar-left-content">
  <a href=`${BASE_URL}${lang}/articles` class="site-title">
    My&nbsp;Site
  </a>
  <nav class="flex-9 mt-4 flex flex-col gap-1 px-4">
    <SitemapMenu currentPath={currentPath} />
  </nav>
  <nav class="flex-1">
    <ExternalLinks />
  </nav>
</div>
