---
import { baseUrl } from '../utils/share'
---

<aside class="fixed left-0 top-0 z-20 h-screen w-[70vw] -translate-x-full transform bg-gray-800 text-gray-100 transition-transform duration-300 peer-checked:translate-x-0 md:w-[22rem] md:translate-x-0">
  <a href={baseUrl} class="flex h-16 items-center px-6 text-2xl font-extrabold hover:text-indigo-400">
    My&nbsp;Site
  </a>
  <nav class="mt-4 flex flex-col gap-1 px-4">
    <a href={baseUrl} class="rounded px-4 py-2 transition hover:bg-gray-700">Articles</a>
    <a href={`${baseUrl}about`} class="rounded px-4 py-2 transition hover:bg-gray-700">About</a>
  </nav>
</aside>
