---
import SitemapMenu from '../components/astro/SitemapMenu.astro';
import ExternalLinks from '../components/astro/ExternalLinks.astro';

import { BASE_URL } from '../utils/share';

const currentPath = Astro.url.pathname;
---

<div class="h-full bg-gray-800 text-gray-100">
  <a href=`${BASE_URL}articles` class="flex h-header items-center px-6 text-2xl font-extrabold hover:text-indigo-400">
    My&nbsp;Site
  </a>
  <nav class="mt-4 flex flex-col gap-1 px-4">
    <SitemapMenu currentPath={currentPath} />
    <ExternalLinks />
  </nav>
</div>
