---
const { toc = [] } = Astro.props;
---

<div class="sidebar-right-content">
  {toc && (
    <h2 class="text-base font-semibold mb-3">Index</h2>
    <ul class="space-y-1 text-sm">
      {toc?.map(item => (
        <li class={`hoverable-text pl-0 ${item.level === 3 ? 'pl-2' : ''} ${item.level === 4 ? 'pl-4' : ''}`}>
          <a href={`#${item.id}`}>{item.text}</a>
        </li>
      ))}
    </ul>
  )}
</div>

